* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

main {
    height: 100%;
    width: 100%;
    background-color: rgb(5, 87, 87);
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    height: 420px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.833);
    border-radius: 20px;
}

.story-card {
    position: relative;
    height: 420px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.833);
    border-radius: 10px;
    overflow: hidden;
    display: none;

}

.story-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 2s;
    border-radius: 10px;

}

.front-view {
    height: 310px;
    width: 100%;
    display: block;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.front-view video {

    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}


.storiyan {
    height: 110px;
    width: 100%;
    border-bottom: 1px solid red;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    overflow-x: auto;

}

.storiyan::-webkit-scrollbar {
    display: none;
}

.storiyan {
    scroll-snap-type: x mandatory;
}

.story {
    scroll-snap-align: center;
}

.storiyan .story {
    height: 80px;
    width: 80px;
    border: 2px solid rgb(115, 12, 12);
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;

}

.story:active {
    transform: scale(0.9);
    transition: 0.6s;
}

.story img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

    object-position: center;
    object-fit: cover;
}

.story:nth-child(1) {
    border: 2px solid green;
}


.story-card {
    opacity: 0;
    transition: 0.3s;
}

.story-card.active {
    opacity: 1;
}



.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    color: red;
    border: none;
    font-size: 22px;
    padding: 4px 10px;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.close-btn:hover {}


.progress {
    margin: 4px;
    height: 2px;
    width: 0%;
    background-color: white;

    position: absolute;

}